name: recurring-update
on:
  workflow_dispatch:
  schedule:
    - cron: "*/15 * * * *"
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: update
        run: ./update.sh
      - name: push
        run: |
          git config --global user.name "github-actions"
          git config --global user.email ""
          git add .
          git diff-index --quiet HEAD || git commit -m "celestrak update"
          git push
